/*---------------------- google font cdn ----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

/*---------------------- reset code ----------------------*/
*{
    margin: 0;
    padding: 0;
    resize: none;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
}

/*---------------------- css variables ----------------------*/
:root{
    --primary-color: #6B3DF5;

    --text-color-1: #39383d;

    --white-color: white;
    --black-color: black;

    --link-color: white;

    --normal-font: .938rem;

    --shadow-color: rgb(97, 51, 235, 0.5);
}

/*---------------------- default style ----------------------*/
.flex_between{
    display: flex;
    justify-content: space-between;
}

.grid{
    display: grid;
    place-items: center;
}

.button{
    padding: 1rem 1.2rem;
    cursor: pointer;
    border-radius: .2rem;
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--link-color);
    letter-spacing: .8px;
    font-size: 1rem!important;
    transition: background-color .4s, box-shadow .4s, transform .4s!important;
}

.button:hover{
    background-color: var(--primary-color);
    box-shadow: 0 .5rem 1.5rem var(--shadow-color);
    transform: translateY(-.3rem);
}

a{
    display: block;
}

h1{font-size: 2.5rem;}

section{
    padding-block: 5rem 1rem;
}

.section{
    padding: 5rem 12rem;
}

.social_link{
    gap: 2rem;
    display: flex;
}

.social_link a{
    font-size: 1.5rem;
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--text-color-1);
    background-color: var(--white-color);
}

.title{
    margin-bottom: 5rem;
    font-weight: 700;
    text-align: center;
    color: var(--text-color-1);
}

/*---------------------- header start ----------------------*/
header nav{
    width: 100%;
    height: 4.5rem;
    padding: 0 15rem;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    transition: background-color .4s;
}

.logo{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--link-color);
    text-transform: uppercase;
}

.nav_group{
    gap: 3rem;
    display: flex;
    place-items: center;
}

.nav_list{
    gap: 3rem;
    display: flex;
    align-items: center;
}

.nav_link{
    font-weight: 450;
    font-size: 1.1rem;
    transition: color .4s;
    color: var(--text-color-1);
}

.nav_link:hover{
    color: var(--primary-color);
}

.nav_button{
    transform: none!important;
    color: var(--link-color);
}

.nav_button:hover{
    color: var(--link-color);
}

.scroll_header{
    background-color: var(--white-color);
    box-shadow: 0 2px 16px var(--shadow-color);
}

.scroll_header :is(.logo){
    color: var(--primary-color);
}

.scroll_header :is(.theme, .menu){
    color: var(--primary-color);
}

.menu,
.nav_close{
    display: none;
}

/*---------------------- hero start ----------------------*/
.theme{
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--primary-color);
}

body.dark_theme{
    --text-color-1: white;

    --white-color: black;
    --black-color: white;
    
    --link-color: white;
}

.dark_theme :is(.work_icon){
    background-color: var(--link-color);
}

.dark_theme :is(.pages_header) .logo,
.dark_theme :is(.menu, .nav_close),
.dark_theme :is(.theme, .logo),
.dark_theme .pages_header .menu,
.dark_theme .pages_header .theme,
.dark_theme .scroll_up
{
    color: var(--link-color);
}

.dark_theme :is(.services_card){
    box-shadow: 0 4px 8px var(--shadow-color), 2px -2px 8px var(--shadow-color);
}

.dark_theme :is(.services_card):hover{
    box-shadow: 0 10px 20px var(--shadow-color), 0px -4px 24px var(--shadow-color);
}

/*---------------------- hero start ----------------------*/
.hero{
    display: grid;
    height: 100vh;
    align-items: center;
    grid-template-columns: 45% 50%;
    border-bottom: .5rem solid var(--primary-color);
}

.hero_left_content{
    width: 100%;
    height: 100%;
}

.ractangle{
    width: 30%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    background-color: var(--primary-color);
}

.perfil_container{
    width: 33rem;
    height: 33rem;
    margin-left: auto;
    border-radius: 50%;
    padding: 3rem;
    background-color: var(--white-color);
    border: 1.5rem solid var(--primary-color);
}

.perfil_content{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    border: 1.5rem solid var(--primary-color);
    background: linear-gradient(to bottom, #bca5ff, rgb(51, 0, 85));
}

.hero_img{
    width: 100%;
    height: 95%;
    margin-top: auto;
}

.hero_right_content{
    padding-left: 5rem;    
    color: var(--text-color-1);
}

.hero_social{
    flex-direction: column;
    position: absolute;
    right: 8rem;
    top: 50%;
}

.hero_social_link{
    color: var(--primary-color);
    transition: transform .4s;
}

.hero_social_link:hover{
    transform: translateX(-.5rem);
}

.hero_name{
    font-size: 4.5rem;
}

.hero_profession{
    margin-top: .8rem;
}

.hero_button{
    margin-top: 4rem;
}

/*---------------------- about start ----------------------*/
.about{
    padding-inline: 5rem;
}

.about_container{
    grid-template-columns: 50% 50%;
}

.about_left_content{
    width: 70%;
    height: 100%;
    padding: 3rem;
    border-radius: 50%;
    border: 1rem solid var(--primary-color);
}

.about_left_content > div{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    border: 1.5rem solid var(--primary-color);
    background: linear-gradient(to bottom, #bca5ff, rgb(51, 0, 85));
}

.about_img{
    width: 100%;
    height: 100%;
}

.about_right_content{
    display: grid;
    gap: 1rem;
}

.about_desc{
    width: 55%;
    line-height: 1.5rem;
}

.about_desc b{
    color: var(--primary-color);
}

.about_button{
    margin: 1.5rem 0;
    width: max-content;
}

.about_skill_container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.7rem 2rem;
}

.about_skill_title{
    font-size: 1.5rem;
    font-weight: 550;
    margin-bottom: 2rem;
}

.about_skill_img{
    width: 3.8rem;
    height: 3.8rem;
    transition: transform .4s;
}

.about_skill_img:hover{
    transform: translateY(-.5rem);
}

/*---------------------- pages start ----------------------*/
.pages_header .logo{
    color: var(--primary-color);
}

.pages_header .theme, 
.pages_header .menu{
    color: var(--primary-color);
}

.pages{
    margin-top: 3rem;
}

/*---------------------- services start ----------------------*/
.serivces_container{
    display: grid;
    gap: 3rem;
    grid-template-columns: auto auto auto;
}

.services_card{
    display: grid;
    gap: 1.5rem;
    text-align: center;
    border-radius: .4rem;
    padding: 3rem 2rem;
    transition: box-shadow .4s;
    box-shadow: 0 4px 8px var(--shadow-color);
}

.services_card:hover{
    box-shadow: 0 12px 24px var(--shadow-color);
}

.services_card i{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.services_desc{
    line-height: 1.8rem;
}

.services_button{
    margin-top: 1.2rem;
    justify-self: center;
    width: max-content;
}

.services_modal{
    inset: 0;
    z-index: 10;
    display: grid;
    position: fixed;
    place-items: center;
    padding: 2rem 1.5rem;
    opacity: 0;
    visibility: hidden;
    background-color: rgb(107, 61, 245, .2); 
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: opacity .4s, visibility .4s;
}

.services_modal_content{
    width: 22rem;
    position: relative;
    padding: 3.5rem 1.5rem;
    background-color: var(--white-color);
    border-bottom: 6px solid var(--primary-color);
}

.services_modal_content h2{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.services_modal_title{
    margin-bottom: 2.5rem;
    font-size: var(--h2-font-size);
}

.services_modal_list{
    margin-left: 1rem;
}

.services_modal_item{
    font-size: 1rem;
    margin-bottom: 1.5rem;
    text-align: start;
    list-style: square;
}

.services_modal_item::marker{
    color: var(--primary-color);
}

.services_modal_close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--primary-color);
}

.active_modal{
    opacity: 1;
    visibility: visible;
}

/*----------------------c work start ----------------------*/
.work_container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 3rem 2rem;
}

.work_link{
    width: 100%;
    height: 15.625rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
}

.work_img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    transition: filter .5s, transform .5s;
}

.work_icon{
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    font-size: 2rem;
    border-radius: 50%;
    padding: .1rem;
    transition: transform .4s;
    color: var(--primary-color);
    background-color: var(--white-color);
}

.work_link:hover .work_img{
    transform: scale(1.1);
    filter: none;
}

.work_link:hover .work_icon{
    transform: translate(.5rem, -.5rem) rotate(-30deg);
}

.work_title{
    margin: .8rem 0 .5rem;
}

/*----------------------testimonial start ----------------------*/
.testimonial_container{
    width: 75%;
    margin: auto;
    padding-bottom: 3.5rem!important;
}

.testimonial_card{
    text-align: center;
    padding-bottom: 3rem;
    border-inline: .5rem solid var(--primary-color);
    box-shadow: 0 4px 10px var(--shadow-color);
}

.testimonial_img{
    border: .5rem solid var(--primary-color);
    border-radius: 50%;
}

.testimonial_name{
    margin: 1rem;
}

.testimonial_desc{
    width: 50%;
}

/* .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: -.5rem;
} */


.swiper-pagination-bullet{
    padding: .5rem;
    background-color: var(--primary-color);
}

/*----------------------testimonial start ----------------------*/
#contact{
    align-items: center;
}

.contact_title{
    margin: 0;
    text-align: start;
}

.contact_button{
    height: max-content;
}

.contact_form{
    width: 65%;
    margin: auto;
}

.contact_group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.contact_box{
    position: relative;
}

.contact_input{
    width: 100%;
    font-weight: 500;
    font-size: 1rem;
    padding: .8rem 1.2rem;
    color: var(--text-color-1);
    transition: border-color .4s;
    border: 0.1875rem solid black;
}

.contact_input:placeholder-shown{
    font-size: .9rem;
}

.contact_input:focus{
    border-color: var(--primary-color);
}

.contact_input:-webkit-autofill{
    transition: background-color 6000s, color 6000s;
}

.contact_label{
    top: -.8rem;
    left: 1rem;
    padding: 0 .5rem;
    position: absolute;
    background-color: var(--white-color);
}

.contact_area{
    height: 18rem;
}

.contact_area_box{
    margin: 2rem 0;
}

.contact_send{
    display: block;
    margin: auto;
}

/*----------------------footer start ----------------------*/
footer{
    background-color: var(--primary-color);
}

.footer_container{
    row-gap: 5rem;
}

footer a,
.footer_copy{
    color: var(--link-color);
}

.footer_logo{
    font-size: 1.2rem;
    font-weight: 500;
}

.footer_links,
.footer_social{
    display: flex;
}

.footer_links{
    gap: 2rem;
}

.footer_link{
    font-weight: 450;
    font-size: 1.1rem;
    transition: color .4s;
}

footer a:hover{
    text-decoration: underline;
}

.footer_social{
    column-gap: 1rem;
}

.footer_social_link{
    font-size: 1.5rem;
    transition: transform .4s;
}

.footer_social_link:hover{
    transform: translateY(-.25rem);
}

.footer_copy{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.scroll_up{
    right: 1.5rem;
    bottom: -3rem;
    z-index: 2;
    width: 2.1rem;
    height: 2.5rem;
    font-size: 1.2rem;
    display: grid;
    place-items: center;
    position: fixed;
    color: var(--primary-color);
    background-color: var(--white-color);
    box-shadow: 0 2px 6px var(--shadow-color);
    transition: bottom .4s;
}

.scroll_up_active{
    bottom: 3rem;
}

/*--------------------------------------------------------------------*/
/*----------------------Responsive Design start ----------------------*/
@media screen and (max-width: 1200px) {
    .section{
        padding: 5rem 4rem;
    }

    header nav{
        padding: 0 8rem;
    }

    .nav_group,
    .nav_list{
        gap: 2.5rem;
    }

    .hero{
        height: 90vh;
    }

    .ractangle{
        width: 32%;
        height: 90vh;
    }

    .perfil_container{
        width: 28rem;
        height: 28rem;
    }

    .hero_social{
        position: relative;
        flex-direction: row;
        left: 0;
        top: 2rem;
    }

    .hero_social_link:hover{
        transform: translateY(-.5rem);
    }

    /*--------- about ---------*/
    .about{
        padding-inline: 0rem;
    }

    .about_left_content{
        width: 28rem;
        height: 28rem;
    }

    .about_button{
        margin-top: 1rem;
    }

    .about_skill_container{
        width: 100%;
    }

    /*--------- work ---------*/
    .work_container{
        grid-template-columns: auto auto auto;
    }

    #contact{
        padding: 5rem 12rem;
    }

    footer{
        padding: 0 8rem;
    }

}

@media screen and (max-width: 992px) {

    header nav{
        padding: 0 1.5rem;
    }

    .nav_list{
        width: 100%;
        top: -480%!important;
        left: 0;
        gap: 2rem;
        padding: 4rem 0;
        position: absolute;
        flex-direction: column;
        transition: top .4s;
        background-color: var(--white-color);
        box-shadow: 0 4px 15px var(--shadow-color);
    }

    .show_menu{
        top: 0%!important;
    }

    .theme{
        color: var(--link-color);
    }

    .menu,
    .nav_close{
        cursor: pointer;
        font-size: 1.5rem;
        display: initial;
        color: var(--white-color);
    }

    .nav_close{
        top: 1.5rem;
        right: 1.5rem;
        position: absolute;
        color: var(--primary-color);
    }


    /*--------- hero ---------*/
    .hero{
        height: 100vh;
        grid-template-columns: auto;
    }

    .ractangle{
        width: 100%;
        height: 35%;
    }

    .perfil_container{
        width: 43%;
        height: 100%;
        margin-left: 0;
    }

    .hero_right_content{
        margin-top: 4rem;
        padding: 0;
        display: grid;
        place-items: center;
    }

    .hero_data{
        text-align: center;
    }

    .hero_social{
        justify-content: center;
    }

    /*--------- about ---------*/
    .about_container{
        row-gap: 4rem;
        padding: 4rem;
        grid-template-columns: auto;
    }

    .about_right_content{
        place-items: center;
    }

    .about_desc,
    .about_skills{
        text-align: center;
    }

    .about_skill_container{
        width: 70%;
        margin: auto;
        justify-content: center;
    }

    /*--------- services ---------*/
    .serivces_container{
        grid-template-columns: auto auto;
    }

    /*--------- work ---------*/
    .work_container{
        grid-template-columns: auto auto;
    }

    #contact {
        padding: 5rem 6rem;
    }

    footer{
        padding: 0 2rem;
    }

    .footer_container{
        padding: 3rem 4rem;
    }

    .footer_copy{
        margin-top: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .section{
        padding: 5rem 2rem;
    }

    /*--------- hero ---------*/
    .hero_name{
        font-size: 3.5rem;
    }

    .hero_profession{
        font-size: 1.3rem;
    }

    .ractangle{
        height: 32%;
    }
    
    .perfil_container{
        width: 40%;
        padding: 1.5rem;
        border: 1rem solid var(--primary-color);
    }

    .hero_right_content{
        margin-top: 4rem;
    }

    .perfil_content{
        border: 1rem solid var(--primary-color);
    }
    
    /*--------- about ---------*/
    .about_left_content{
        width: 55%;
        height: 100%;
        padding: 2.5rem;
    }
    
    .about_left_content > div{
        border: 1rem solid var(--primary-color);
    }

    .about_title{
        margin-bottom: 3rem;
    }

    .about_desc{
        width: 80%;
    }

    .serivces_container{
        gap: 2rem;
    }

    .services_card{
        padding: 2.5rem 2rem;
    }

    .contact_area{
        height: 13rem;
    }

    .title{
        font-size: 2rem;
    }

    .footer_container{
        padding: 3rem 0;
    }
}

@media screen and (max-width: 600px) {
    .logo,
    .menu,
    .theme{
        font-size: 1.3rem;
    }

    nav{
        height: 3.5rem;
    }

    .hero_name{
        font-size: 3rem;
    }

    .hero_profession{
        font-size: 1.2rem;
    }

    .title{
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }

    .about_name{
        font-size: 2.2rem;
    }

    .about_profession{
        font-size: 1.2rem;
    }

    .about_desc{
        width: 100%;
    }

    .about_skill_container{
        width: 100%;
    }

    .serivces_container{
        margin-top: 4rem;
        grid-template-columns: auto;
    }

    .services_card{
        width: 80%;
        justify-self: center;
    }

    .work_container,
    .testimonial_container{
        margin-top: 4rem;
        width: 100%;
    }

    .work_link{
        height: 12rem;
    }

    .testimonial_card{
        padding-bottom: 1rem;
    }

    #contact {
        padding: 5rem 2rem;
    }

    .footer_content{
        gap: 2rem;
        text-align: center;
        flex-direction: column;
    }

    .footer_links,
    .footer_social{
        justify-content: center;
    }
}